.list{
    margin-top: 10px;
    display: flex;
    width: 460px;
    background-color: rgb(158, 146, 146);
    padding: 10px 20px;
    border-radius: 5px;
    align-items: center;
    color: #fff;
}

.list h2{
    margin-right: auto;
    text-transform: capitalize;
}

.list button{
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}

.list .icon{
    font-size: 20px;
}